.ures__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.list-item{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-rec{
    display: block;
    font-family: "railway";
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    font-size: larger;
    margin: 10px;
    padding: 16px 60px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: .5rem;
    border: none;
}

@media screen and (max-width: 480px){

    .ures__main{
        gap: 40px;
    }

    .ures__header{
        margin: 30px;
    }

    .list-item{
        flex-direction: column;
    }

    .btn-rec{
        padding: 8px 20px;

    }
}