.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    background: rgba(233, 233, 233, 0.6);
    backdrop-filter: blur(5px);
    border-radius: .4rem;
    padding-left: 200px;
    padding-right: 200px;
  }