.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

 @media screen and (max-width: 480px){
     .text-block{
      margin: 0 auto;
     width: 90vw;
     }

     .page-item{
      width: 200px;
     }
    
}

.page-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    width: 400px;
    background: rgba(233, 233, 233);
    backdrop-filter: blur(5px);
    border-radius: .4rem;
  }

  .page-item:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-1deg, #f3187e 0%, #dbd9e9 100% );
    transform: translate3d(7px, 3px, 0) scale(1.05);
    filter: blur(20px);
    opacity: 0.6;
    border-radius: inherit;
}

  .desc{
    margin: 20px;
    text-decoration: none;
    color: black;
  }

  .big-text{
    font-size: 80px;
  }

  @media (max-width: 480px) {
    /* CSS rules for small screens go here */
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    /* CSS rules for medium screens go here */
  }
  
  @media (min-width: 769px) {
    /* CSS rules for large screens go here */
  }