.content, .dark-content{
  display:flex;
  flex-direction: column;
  color: black;
  align-items: center;
  background: rgba(233, 233, 233, 0.6);
  backdrop-filter: blur(5px);
  border-radius: .4rem;
  padding-left: 200px;
  padding-right: 200px;
  }

  .dark-content{
    background: rgba(121, 121, 121, 0.6);
    color: white;
  }

h1{
    margin: 45px;
  }

.top{
  display: flex;
  align-items: center;
}

.palette{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 40vw;
    height: 40vh;
  }

.copied{
  margin: 16px
}

.btn-dark{
  margin-left: 3vw;
}