.content{
    display:flex;
    align-items: center;
    background: rgba(233, 233, 233, 0.6);
    backdrop-filter: blur(5px);
    border-radius: .4rem;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 50px;
  }

.palette{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 40vw;
    height: 30vh;
  }

.pallete div{
padding:30px;
}