.white-content, .dark-content{
  display:flex;
  flex-direction: column;
  color: black;
  align-items: center;
  background: rgba(233, 233, 233);
  backdrop-filter: blur(5px);
  border-radius: .4rem;
  padding-left: 200px;
  padding-right: 200px;
  }

  .dark-content{
    background: rgb(121, 121, 121);
    color: white;
  }

h1{
    margin: 45px;
  }

.top{
  display: flex;
  align-items: center;
}

.palette{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 40vw;
    height: 40vh;
  }

.copied{
  margin: 16px
}

.btn-dark{
  margin-left: 3vw;
}

.main-pal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 90px 60px 90px;
}

.wrapper_block{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.pal_p{
  width: 50%;
  margin-left: 50px;
  text-align: center;
}