.gradient{
    width: 70vw;
    height: 44vh;
    border-radius: .4rem;
    margin: 40px;
  }
  
  .pickers{
    display: flex;
    align-items: center;
  }
  
  .pickers h3{
    margin: 10px;
  }
  
  .content{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(233, 233, 233);
    backdrop-filter: blur(5px);
    border-radius: .4rem;
    padding-left: 200px;
    padding-right: 200px;
  }

  .content:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-1deg, #f3187e 0%, #fffb1c 100% );
    transform: translate3d(7px, 3px, 0) scale(1.05);
    filter: blur(20px);
    opacity: 0.6;
    border-radius: inherit;
}

.content::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        
        
  
  .range{
    width: 60%
  }