@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(25, 25, 31);
  background-color: rgb(249, 248, 255)
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  background-color: transparent;
  color: rgb(86, 82, 110);
  border-radius: 0 0 .6rem .6rem;
}

a{
  text-decoration: none;
}

.btn-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  text-decoration: none;
  width: 100%;
  height: 100%;
  margin-left: 30px;
  background: -webkit-linear-gradient(rgb(248, 24, 91), rgb(147, 65, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: color 1s, font-size .4s;
  -moz-transition: color 1s, font-size .4s;
       transition: color 1s, font-size .4s;
}

.btn-nav:hover{
  cursor: pointer;
  font-size: 1.3rem;
}
