body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0);
  background-image: url("./img/bg-mesh.png");
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  background-color: rgba(58, 53, 53, 0.8);
  color: white;
  border-radius: 0 0 .6rem .6rem;
}

a{
  text-decoration: none;
}

.btn-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  background-color: transparent;
  border: none;
  text-decoration: none;
  width: 8vw;
  height: 6vh;
  margin-left: 30px;
  color: white;

  -webkit-transition: color 1s, font-size 1s;
  -moz-transition: color 1s, font-size 1s;
    -o-transition: color 1s, font-size 1s;
       transition: color 1s, font-size 1s;
}

.btn-nav:hover{
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

.github{
  float: left
}