body {
  margin: 0px;
  padding: 0px;
  font-family: "San Francisco", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  /* text-transform: uppercase; */
  /* top: 15%; */
  background: linear-gradient(to right, red, yellow); /* Standard syntax */
}
nav img{
  padding:1rem;
}
.container {
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
}
#c1{
  margin-right: 4rem;
  padding-top:0;
  padding-bottom: 0;
}
#c2{
  padding-top:0;
  padding-bottom: 0;
}

h1 {
  font-size: 4rem;
  color: peachpuff;
  text-align: left;
  width: 100%;
}

h3 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

.lable {
  display: inline-block;
  font-size: 2em;
}

input {
  margin: 0.5em 0.5em 0.5em 0em;
  width: 50px;
  height: 30px;
}

[type="radio"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: .5em;
}

button {
  padding: 0.5em;
  margin-left: 30%;
  width: 250px;
  height: 65px;
  font-size: 1.5em;
  font-family: "Yanone Kaffeesatz", sans-serif;
  border: 5px solid rgb(129, 119, 119);
  border-radius: 35px;
  background-color: rgba(170, 148, 148, 0.5);
  cursor: pointer;
}

label{
  margin-right:  2rem;
}
